.main-layout-with-side-menu {
  display: grid;
  grid-template-columns: 50px 50px 50px 50px;
  grid-template-rows: auto;
  grid-template-areas:
          "header header header header"
          "leftSide main main rightSide"
          "footer footer footer footer";

  &-header {
    grid-area: header;
    background-color: blue;
  }

  &-main {
    grid-area: main;

    &-center {
      grid-area: center;
      background-color: green;
    }

    &-left-side {
      grid-area: leftSide;
      background-color: orange;
    }

    &-right-side {
      grid-area: rightSide;
      background-color: green;
    }
  }

  &-footer {
    grid-area: footer;
  }
}